.navbar {
    border-top: 4px solid theme-color(primary);
    padding: 0.35rem 1rem;
}
.bg-dark {
    background-color: mix(theme-color(primary), #1d2124, 10%) !important;
}
.nav-item {
    .nav-link {
        margin-bottom: calc(-0.35rem - 0.05rem);
        padding-bottom: calc(0.35rem + 4px);
    }
}
.nav-item.active {
    .nav-link {
        border-bottom: 3px solid theme-color(primary);
    }
}
.nav-item:not(.active) {
    .nav-link {
        border-bottom: 3px solid transparent;
    }
}
