/*
 * Search
 */
.ais-highlight,
.ais-snippet {
    em {
        background: hsla(60%, 80%, 87%, 0.8);
    }
}
.ais-results {
    h3 {
        em {
            padding: 0;
        }
    }
    em {
        border-bottom: 1px solid hsla(0%, 0%, 0%, 0.2);
    }
}
.ais-clear--disabled {
    display: none;
}
.ais-refinement-list {
    margin-bottom: 1rem;
}
.ais-refinement-list:last-child {
    margin-bottom: 0;
}
.ais-refinement-list__label .badge {
    font-weight: normal;
}

.ais-powered-by {
    display: inline-block;
}
.ais-stats {
    font-size: 0.8rem;
}

.refinement-header {
    font-size: 0.9rem;
    font-weight: bold;
}

@include media-breakpoint-down(sm) {
    .main.row .search-aside {
        order: -1;
    }
}
