$enable-gradients: true;
$enable-shadows: true;

$theme-colors: (
  "primary":    #1993e2,
  // "secondary":  hsla(0%, 0%, 90%, 1),
  // "success":    red,
  // "info":       red,
  // "warning":    red,
  // "danger":     red,
  // "light":      red,
  // "dark":       red
);
