// Variables
@import "variables";

@import "~bootstrap/scss/bootstrap.scss";

/*
 *
 * Manual styles
 *
 */

table.head {
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #ccc;

    .head-vol {
        text-align: center;
    }
    .head-rtitle {
        text-align: right;
    }
}

table.foot {
    width: 100%;
    margin-top: 2rem;
    padding-top: 0.5rem;
    border-top: 1px solid #ccc;

    .foot-date::before {
        content: 'Last updated: ';
    }
}

.manual-text {
    pre {
        background: #eee;
        padding: 1em;
        border: 1px solid #ccc;
    }
    b {
        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    }

    /* Table styles */
    .tbl {
        @extend .table;
        @extend .table-bordered;
        @extend .table-striped;
    }

    h1.Sh {
        margin-top: 2.5rem;
    }

    .selflink {
        text-decoration: none;
        color: inherit;
    }
}

.full-page {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.full-page-content {
    flex: 1;
}
.footer {
    background: #eee;
}

/*
 * Search
 */
.ais-highlight {
    em {
        color: #212529;
        background: #FFF176;
        font-style: normal;
    }
}
