// Variables
@import "variables";

@import "~normalize.css/normalize.css";

body {
    background: #fff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    width: 720px;
    margin: 20px auto;
}
pre {
    font-family: "Roboto Mono", monospace;
    background: #eee;
    padding: 1em 0;
}
